@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");
body {
  margin: 0;
  background: rgb(142, 212, 173);
  background: linear-gradient(
    135deg,
    rgba(142, 212, 173, 1) 0%,
    rgba(223, 227, 163, 1) 100%
  );
  font-family: "Lato", sans-serif;
}
navbar {
  width: 100%;
  background-color: #57b68c;
  /* 8ed4ad dfe3a3 */
  display: block;
  padding: 0.5rem 0;
  margin-bottom: 10px;
}
navbar span {
  color: #fff;
  font-size: 1.5rem;
  font-weight: 300;
  padding-left: 8px;
}
navbar a {
  color: #fff;
  text-decoration: none;
  margin-left: 15px;
}
navbar font h3 {
  color: #fff;
}
.nav-right {
  float: right;
  padding-top: 7px;
  padding-right: 8px;
}
.nav-right svg {
  vertical-align: -0.2rem;
}

form.add-todo {
  background-color: #57b68c;
  height: 2.5rem;
}
form.add-todo input {
  background-color: transparent;
  border: none;
  color: #fff;
}
input[type="checkbox"] {
  display: inline;
  margin-right: 10px;
}
ul {
  padding: 0px;
}
li {
  list-style: none;
  padding: 5px;
}
.done {
  text-decoration: line-through;
}
.important {
  background-color: red;
}
.visible {
  display: none;
}
.star {
  color: grey;
}
