@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");

@font-face {
  font-family: "sf_pro_displaythin";
  src: local("sf_pro_displaythin"),
    url(./fonts/sf-pro-display-thin-webfont.woff2) format("woff2"),
    url(./fonts/sf-pro-display-thin-webfont.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}
html {
  height: 100%;
}
body {
  margin: 0;
  background: rgb(142, 212, 173);
  background: linear-gradient(
      135deg,
      rgba(142, 212, 173, 1) 0%,
      rgba(223, 227, 163, 1) 100%
    )
    no-repeat;
  font-family: "Lato", sans-serif;
}
navbar {
  width: 100%;
  background-color: #57b68c;
  display: block;
  margin-bottom: 12px;
  position: relative;
}
navbar span {
  color: #fff;
  font-size: 1.5rem;
  font-weight: 300;
  padding-left: 12px;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  display: inline-block;
}
navbar span.error {
  display: block;
  font-size: 0.7rem;
  padding-left: 0;
  padding-top: 3px;
}
navbar a {
  color: #fff;
  text-decoration: none;
  padding: 0 8px;
  float: right;
  line-height: 2.85rem;
}
navbar a:hover,
navbar a.active {
  background-color: teal;
}
navbar font h3 {
  color: #fff;
}
.nav-right {
  float: right;
  padding-right: 12px;
}
.nav-right svg {
  vertical-align: -0.2rem;
}

/* New To-Do form*/
form.add-todo {
  background-color: #57b68c;
  height: 2.8rem;
  margin: 0 12px;
  padding: 0px 12px;
  border-radius: 3px;
}
form.add-todo input {
  background-color: transparent;
  border: none;
  color: rgb(255, 255, 255);
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.8rem;
  padding: 7px 0px;
  width: 85%;
}
@media (min-width: 320px) and (max-width: 480px) {
  form.add-todo input {
    width: 75%;
  }
}
form.add-todo input:focus {
  outline: none;
}
form.add-todo button {
  background: none;
  border: none;
  font-size: 1rem;
  color: rgb(255, 255, 255, 0.7);
  float: right;
  cursor: pointer;
  transition: all 0.5s;
  line-height: 2.6rem;
}
form.add-todo button:hover {
  color: rgb(255, 255, 255, 1);
}
form.add-todo ::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: rgb(255, 255, 255, 0.7);
}
form.add-todo ::-moz-placeholder {
  /* Firefox 19+ */
  color: rgb(255, 255, 255, 0.7);
}
form.add-todo :-ms-input-placeholder {
  /* IE 10+ */
  color: rgb(255, 255, 255, 0.7);
}
form.add-todo :-moz-placeholder {
  /* Firefox 18- */
  color: rgb(255, 255, 255, 0.7);
}
input[type="checkbox"] {
  margin-right: 10px;
}
ul {
  padding: 0px 12px;
  height: 17px;
}
li {
  list-style: none;
  padding: 5px;
  background-color: #fff;
  border-radius: 3px;
  margin-bottom: 1px;
  padding: 12px;
  font-weight: 300;
  color: #202020;
}
li span {
  vertical-align: top;
}
li > span {
  width: 80%;
  display: inline-block;
}
@media (min-width: 320px) and (max-width: 480px) {
  li > span {
    width: 65%;
  }
}
.done {
  text-decoration: line-through;
}
.visible {
  display: inherit;
}
.hidden {
  display: none !important;
}
.todo-right {
  float: right;
}
.todo-right svg {
  margin-left: 15px;
}
.fa-star {
  font-size: 1rem;
  color: #57b68c;
  cursor: pointer;
}
.fa-trash-alt {
  font-size: 1rem;
  color: rgb(32, 32, 32, 0.5);
  cursor: pointer;
}
@media (hover: hover) {
  .fa-trash-alt:hover {
    color: #e40000;
  }
}

.auth-form {
  background-color: teal;
  color: #fff;
}
.auth-form form {
  background-color: teal;
  color: #fff;
  height: 30px;
  position: absolute;
  top: 45px;
  padding: 18px 12px 12px 12px;
  border-radius: 0 0 3px 3px;
}
.auth-form .form-group {
  float: left;
  margin-right: 12px;
}
.auth-form button {
  background: none;
  border: none;
  font-size: 1rem;
  color: #fff;
  cursor: pointer;
  padding: 0px;
}
.login-form form {
  right: 75px;
  width: 302px;
}
.signup-form form {
  right: 12px;
  width: 302px;
}
@media (min-width: 320px) and (max-width: 480px) {
  .login-form form,
  .signup-form form {
    left: 0px;
  }
}
.demo-message {
  background-color: #5e86c1;
  color: white;
  padding: 0.5rem 1rem 0.7rem;
  text-align: center;
}
@media (min-width: 320px) and (max-width: 480px) {
  .demo-message {
    font-size: 0.8rem;
  }
}
.install-message {
  left: 3%;
  position: fixed;
  bottom: 6px;
  display: block;
  background-color: #e5e8ef;
  padding: 2%;
  width: 90%;
  text-align: center;
  font-size: 0.8rem;
  font-weight: normal;
  border-radius: 5px;
  font-family: sf_pro_displaythin, sans-serif;
}
.install-button {
  width: 17px;
  display: inline-block;
  margin: 2px 5px 0px;
  vertical-align: middle;
}
.install-button.add {
  width: 19px;
  margin-top: 4px;
}
